<h2>
    I'm a Software Developer and designer. I love building apps that solve real-world problems, and that are delightful to use. My specialties include JavaScript, TypeScript, Tailwind & Bootstrap CSS and MERN Stack.
    Check me out
    <a href="https://ea-linktree.netlify.app/">EA Profile</a>
</h2>
