<div class="author">
    <h1 class="author__heading">EA straight cooked this blog</h1>
    <p class="author__body">Software Engineer || Fullstack Developer</p>
</div>

<img src="../images/meme.jpg" alt="" class="hero-image">

